/* @tailwind base;
@tailwind components;
@tailwind utilities; */


.card{
    border: 1px solid;
    padding: 1rem;
    width: 500px;
}

.title{
    text-align: center;
    font-weight: bold;
}

img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.users{
    display: flex;
}

table{
    border-collapse: collapse;
}

th,td{
    border: 1px solid;
    padding: 1rem;
}