@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

@import url("./tailwind.css");

/* min-with:1536px then .container max-width = 1458px
    min-with:1280px then .container max-width = 1216px
    min-with:1024px then .container max-width = 990px
    min-with:768px then .container max-width = 720px
    min-with:640px then .container max-width = 600px */

*{
    /* background-color: rgba(255,0,0,0.005); */
}