@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .container{
        @apply px-3 mx-auto w-full sm:max-w-[600px] md:max-w-[740px] lg:max-w-[990px] xl:max-w-[1216px]
    }

    /* .btn{
        @apply button
    } */
    .btn{
        @apply bg-secondary px-10 py-4 text-white rounded-[2px]
    }
    
}
@layer utilities{
    .button{
        background-color: pink;
    }
    
}

/* min-with:1536px then .container max-width = 1458px
    min-with:1280px then .container max-width = 1216px
    min-with:1024px then .container max-width = 990px
    min-with:768px then .container max-width = 720px
    min-with:640px then .container max-width = 600px */

*{
    background-color: rgba(255,0,0,0.005);
}