
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{
    .header{
        @apply text-[24px] lg:text-[42px]
    }
    .header-sm{
        @apply text-[32px]
    }
    .container{
        @apply px-3 mx-auto w-full sm:max-w-[600px] md:max-w-[740px] lg:max-w-[990px] xl:max-w-[1216px]
    }

    /* .btn{
        @apply button
    } */
    .btn{
        @apply bg-secondary px-10 py-4 text-white rounded-[2px]
    }
    .btn-sm{
        @apply bg-secondary px-5 py-2 text-white rounded-[2px]
    }

    .flex-center{
        @apply flex items-center justify-center
    }
    .form-group{
        @apply mb-4
    }
    .form-label{
        @apply block mb-1 capitalize
    }
    .form-control{
        @apply  border-2 w-full px-2 py-1
    }
    .required-field{
        @apply after:content-['_*'] after:text-red-500
    }
    
}
@layer utilities{
    .button{
        background-color: pink;
    }
    
}


/* .required-field::after{
    content:"*";
} */

/* button:disabled{
    opacity: .5;
    cursor: no-drop;
} */