@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .btn{
        @apply px-3 py-2 bg-slate-400 border border-black rounded-xl
    }   
}

/* .btn{
    background-color: gray;
    padding: 10px 20px;
} */

.header{
}
.card{
    border: 1px solid;
    padding: 1rem;
    width: 500px;
}

.title{
    text-align: center;
    font-weight: bold;
}

/* button:hover{
    box-shadow: 5px 5px black;
} */

img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.users{
    display: flex;
}

table{
    border-collapse: collapse;
}

thead{
    background-color: gray;
}
th,td{
    border: 1px solid;
    padding: 1rem;
}

.bg-green{
    background-color: green;
    color: white;
}
.bg-red{
    background-color: red;
    color: white;
}

.capitalize{
    text-transform: capitalize;
}